<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include externalScripts %>
    <script type="text/javascript">
    window.onYouTubeIframeAPIReady = function() {
      console.log('head trigger');
      // player = new YT.Player('player', {
      //   height: String(window.global_height),
      //   width: String(window.global_width),
      //   controls: 0,
      //   playerVars: {
      //     enablejsapi: 1,
      //     fs: 0,
      //     iv_load_policy: 3,
      //     modestbranding: 1,
      //     playsinline: 1,
      //     rel: 0
      //   },
      //   videoId: 'bzD8H6o1awQ',
      //   events: {
      //     'onReady': onPlayerReady,
      //     'onStateChange': onPlayerStateChange
      //   }
      // });
    }
    </script>
  </head>
  <body>
    <div id='container'>
      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player"></div>
    </div>
    
    <script>
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      window.global_width = `<%= global_width %>`;
      window.global_height = `<%= global_height %>`;
      window.phone_id = `<%- phone_id %>`;
      window.session_id = `<%- session_id %>`;
      window.anchor = <%- JSON.stringify(anchor) %>
    </script>
    <script type="text/javascript" src="/js/youtube.js"></script>
  </body>
</html>