<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include externalScripts %>
  </head>
  <body>
    <div id='container'>
      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <div id="player"></div>
    </div>
    
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      window.global_width = `<%= global_width %>`;
      window.global_height = `<%= global_height %>`;
      window.phone_id = `<%- phone_id %>`;
      window.session_id = `<%- session_id %>`;
      window.anchor = <%- JSON.stringify(anchor) %>
    </script>
    <script type="text/javascript" src="/js/youtube.js"></script>
  </body>
</html>